:root {
	--font-main: 'Open Sans', sans-serif;
	--font-secondary: 'HK Grotesk', sans-serif;
	--blue: #1565D8;
	--black: #183B56;
	--header-gray: #E7EBF1;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--font-main);
	font-size: 16px;
	color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	font-family: var(--font-secondary);
	margin: 0;
}

a {
	color: var(--blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.btn {
	background: none;
	border: 2px solid currentColor;
	border-radius: 8px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	text-decoration: none;
	color: var(--black);
}

.btn.btn__primary {
	color: var(--blue);
}

.btn.btn__primary:hover {
	background: var(--blue);
	border-color: var(--blue);
	color: #fff;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}