.header-main {
	--header-margin: 40px;
	--user-padding: 10px;
	display: flex;
	align-items: center;
	height: 100px;
}

.header-menu {
	display: flex;
	height: 100%;
	align-items: center;
	margin-right: calc(var(--header-margin) - var(--user-padding));
}

.header-menu__link {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: var(--black);
	text-decoration: none;
	padding: var(--user-padding);
}

.header-menu__link:hover {
	color: var(--blue);
	text-decoration: none;
}

.header-menu__link:not(:last-child) {
	margin-right: calc(var(--header-margin) - var(--user-padding) * 2);
}

.header-main__content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-main_secondary {
	background: var(--header-gray);
}

.logo-main {
	display: flex;
	height: 100%;
	align-items: center;
}
