.header-main {
	--header-margin: 40px;
	--user-padding: 10px;
	height: 64px;
	margin-bottom: 30px;
	position: relative;
}

.header-menu__container {
	display: flex;
	align-items: center;
}

.header-menu__link {
	display: block;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: var(--black);
	text-decoration: none;
	padding: var(--user-padding);
}

.header-menu .btn {
	margin-left: var(--user-padding);
}

.header-menu__link:hover {
	color: var(--blue);
	text-decoration: none;
}

.header-main__content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
}

.header-main__container {
	display: flex;
	align-items: center;
	height: 100%;
}

.header-main__container_secondary {
	background: var(--header-gray);
}

.logo-main {
	display: flex;
	height: 100%;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.header-main {
		margin-bottom: 72px;
	}
}

@media screen and (min-width: 992px) {
	.header-main {
		height: 100px;
	}

	.header-menu {
		/* height: 100%;
		align-items: center; */
	}

	.header-main__burger {
		display: none;
	}

	.header-menu__link:not(:last-child) {
		margin-right: calc(var(--header-margin) - var(--user-padding) * 2);
	}
}

@media screen and (max-width: 991px) {
	/* .page-main {
		padding-top: calc(64px + 30px);
	} */

	.header-main__container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 64px;
	}

	.header-menu {
		display: block;
		/* display: none; */
		align-items: flex-start;
		position: fixed;
		top: 64px;
		left: 0;
		width: 100%;
		background: var(--header-gray);
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		flex-direction: column;
		height: calc(100vh - 64px);
		overflow-y: auto;

		opacity: 0;
		visibility: hidden;
		will-change: transform, opacity, visibility;

		transform: translateX(100%);

		transition: transform .15s ease-in-out, opacity .15s ease-in-out, visibility .15s ease-in-out;
	}

	.header-menu__container {
		display: block;
	}

	.header-menu_opened {
		opacity: 1;
		transform: translateX(0);
		visibility: visible;
		/* display: flex; */
	}

	.header-menu__link {
		width: 100%;
		padding: 15px 10px;
		border-bottom: 1px solid #ddd;
	}

	.header-menu .btn {
		margin-top: 30px;
	}
}

@media screen and (max-width: 575px) {
	.header-menu__container {
		margin-left: -15px;
		margin-right: -15px;
	}
}