.hero {
	--height: 700px;
	--height-picture: 500px;
	height: calc(var(--height) + calc(var(--height-picture) / 2));
	min-height: 700px;
	color: #5A7184;
	font-size: 18px;
	line-height: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.hero::before {
	content: '';
	display: block;
	background: #E7EBF1;
	width: 100%;
	height: var(--height);
	position: absolute;
	z-index: -1;
}

.hero__text {
	width: 100%;
	max-width: 710px;
	margin: 0 auto 56px;
	text-align: center;
}

.hero__picture {}

.hero__picture img {
	display: block;
	margin: 0 auto;
	width: 750px;
	height: var(--height-picture);
	border-radius: 8px;
}

.hero__content {
}